*.csv filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
static/database/model/multi_img_classification.model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
