


body {margin: 0;
      font-family : 'Nanum Barun Gothic', sans-serif;}

/* header { 
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url("http://res.heraldm.com/content/image/2021/06/10/20210610000469_0.jpg") repeat-x center top;
	"https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-hip-hop-music-background-illustration-education-training-music-carnival-image_208997.jpg") repeat-x center top;
{background: url("https://cdn.aitimes.com/news/photo/202011/133818_131448_3756.jpg") repeat-x center top;}
}  */

header { height: 400px;
		 background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
			url("https://thevocal.itpage.kr/user/t/thevocal/20200701113519_vgZeEwh1.jpg") repeat-x center;
} 
/* "http://res.heraldm.com/content/image/2021/06/10/20210610000469_0.jpg" */



/* ��� �ȿ� �ؽ�Ʈ �κ�  */
/* .header .header_tit {text-align: center; 
					text-transform: uppercase; 
					margin-top: 55px; font-family: 'Abel', sans-serif;} */
					
					
.header .header_tit h1 {
    font-size: 55px;
	color: skyblue;
	text-shadow: 5px 7px 2px #000;
    /* background: #51b0dc;  */
	display: inline-block; 
	position: relative;
    padding: 5px 30px 5px 30px; 
    /* letter-spacing: 2px;  (�ڰ�)*/
	font-weight: 1000; /* ��Ʈ���� */ 
	animation: uptext 2s ease-out;
}



/*text-shadow ����
 https://www.codingfactory.net/10650  */


/* animation: 
name
duration ����ϴµ� �ɸ��� �ð�
timing-function ����ӵ� (ease ease-in ���)
delay  ��������
iteration-count 
direction �������
*/

@keyframes uptext {
	0% {
		opacity: 0%;
		top : 50px; 
	}
/* 	25% {
		opacity: 50%;
		top : 20px; 
	}
	75% {
		opacity: 80%;
		top : 10px; 
	} */
	100% {
		opacity: 100%; 
		top : 0px; 
		

	}
}




/************************************* nav bar ***************************************/

.nav{
	width: 100vw;
	display: flex;
}

a {
	text-decoration: none;
	color: #000;
}

.nav .logo {
	list-style: none;
	padding: 1rem 1rem;
	/* margin-right: auto; */
	/* cursor: pointer; */
}

.nav .logo img {
	width: 120px;
	height : 41px;
}


.nav .nav_list {
	/* width: 90%; */
    display: flex;
   /*  justify-content: flex-end; */
   /*  align-items: center; */
	/* gap: 0.1rem; */ /* gap--> ��һ��� ���� */  /* rem �ֻ��� �θ��� n�� */
	margin: auto;
	/* justify-content: center; /* �÷����ڽ����� �ڽĿ�ҵ��� ��� ���� ��Ű�� ���� */ 
}





.nav_listitem {
	list-style: none;
	font-weight: bold;
	position: relative; /* �ڼյ��� ������ġ�κ��� ��������� ���� ��������� �θ� �پ��ֱ� ��  */
	padding: 1.5rem 3rem;
	cursor: pointer;
}



 
/*************** ����ȿ�� ****************/
.nav_listitem::after {
	 content: "";
     width: 0px;
     height: 0.15rem;
     border-radius:0.2rem;
     position: absolute;
     left: 1rem;
     bottom: 0.8rem;
     background-color: #636363;
     transition: 0.3s ease-in;
 }
 
.nav_listitem:hover::after{
	width : 70%;  /* ó���� 0���� �Ⱥ����ٰ� hoverȿ������ 70%�ʺ�� ������ */
	
}
/*************** ����ȿ�� �� ****************/






.nav_listitem:hover ul {
	/* .nav_listitem:hover ul ,:focus ul{ */
	opacity: 1; /* 0~1 ���ڰ� �������� ����  */
	visibility: visible;
	
}


/* 2���޴� */
.nav_listitemdrop {
	position: absolute;
	top: 4.3rem;
	left : -0.2rem;
	box-shadow: 0 0 10px; 
	background-color: #fff;
	/* border-radius: */
	width: 8rem;
	display: flex;
	flex-direction: column;
	/* gap: 0.7rem; */	
	/* padding: 1rem; */
	opacity: 0;
	visibility: hidden; 
	transition : opacity 100ms ease-in;
	padding-left: 0;
	text-align: center;
	font-size: small;

}

.nav_listitemdrop li {
	display:inline-block;
	list-style: none;
	width: 100%;
	height:2em;
	padding-top: 10px;
	transition: 0.1s ease-in;
	/* padding: 0.5rem 1rem; */
}

.nav_listitemdrop li:hover {
	background-color: #d2d2d2;
}
/* 2���޴� �� */



.nav_hamberger {
	display: none;
	position: absolute;
	left: 90%;
	list-style: none;
	cursor: pointer;
	margin: 0 20px;
	padding: 1.5rem 0;
	font-size: 25px;
}





/*********************************************** footer ************************************************/

footer {
	/* display: flex; */
	/* height: 100%; */
	margin-top: 10em;
	background-color: #1b1b1b; 
}


.footer_container { 
    height: 15em;
    display: flex;
    flex-direction: column;
    /* border-top: 5px solid #b0b0b0;  */
	/* margin-top: auto; */
}


.footertop {
	display: flex;
	height: 10em;
	align-items: center;
	margin-top: 20px;
}

.footertop .logo {
	list-style: none;
	padding: 1rem 1rem;
}


.footertop .logo img {
	width: 120px;
	height : 41px;
}




.footertop .footerlist {
	display: flex;
	list-style: none;/*  li�±���  �⺻�� . ��� */  
	font-size: 12px;
}

.footerlist li {
	padding: 8px 10px;
}

.footerlist li a{
	text-decoration: none; /* a�±��� �⺻ ���� */
	margin : 0 20px;
	color: #fff;
}



.footerlist li a:hover{
	text-decoration: underline;
}



/* ������ ������(after)�� �̿��ؼ� ���м� �ֱ�  */
.footerlist li::after {
	content : "|";
	color: #fff;
}
.footerlist li:last-child::after {
	content: "";
}




.copyright { 
	border-top: 1px solid  #fff;
	/* text-align: right; */
	margin: 2% 0; 
}


.copyright h6 { 
	color: #fff;
	font-size: 13px;
}



/* media query*/
/* @media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 15px;}
}  */

/**************************** ������ �κ� *****************************************************/

 @media all and (min-width:1024px) {
 }

/* PC , �׺� ���� (�ػ� 768px ~ 1023px)*/
 @media all and (min-width:768px) and (max-width:1023px) {

}

/* �׺� ���� (�ػ� 768px ~ 1023px)  */
@media all and (min-width:768px) and (max-width:1023px) {
	
 } 
	
/* ����� ����, �׺� ���� (�ػ� 480px ~ 767px)  */
@media all and (min-width:480px) and (max-width:767px) {
.nav_hamberger {
	display: block;
}

.nav_hamberger .fa-times {
	display:none;
}

.fa-bars.active { /* ��ũ��Ʈ ���� �κ�  */
	display:none;
}

.fa-times.active {
	display:block;
}



.nav {
flex-direction: column;
}	
.nav > .nav_list {
flex-direction: column;
display: none;
}

.nav_listitemdrop {
	display: none;
}

.nav_list.active {  /* ��ũ��Ʈ ���� �κ�  */
	display: flex;
} 

}



@media all and (max-width:479px) {	
.nav_hamberger {
	display: block;
}

.nav_hamberger .fa-times {
	display:none;
}

.fa-bars.active { /* ��ũ��Ʈ ���� �κ�  */
	display:none;
}

.fa-times.active {
	display:block;
}



.nav {
flex-direction: column;
}	
.nav > .nav_list {
flex-direction: column;
display: none;
}

.nav_listitemdrop {
	display: none;
}

.nav_list.active {  /* ��ũ��Ʈ ���� �κ�  */
	display: flex;
} 



}
 
